@charset "UTF-8";
@import 'utilities.scss';

* {
  margin:0;
  padding:0;
  scroll-behavior:smooth;
  }


body{
    background-color: #EFCEC5;
    text-align: center;
    background-image: url("../img/1x/BaggrundbeigeArtboard\ 1.png");
    background-repeat: repeat;
  }

  #billede {
    width: 100%;
    height: 670px;
    object-fit: cover;
    justify-self: center;
    margin-top: 2%;
  }

  #butikknap {
    background-color:#EFCEC57c ;
    height: 30px;
    width: 100px;
    border-radius: 50px 50px;
    position: absolute;
    transform: translate(500%, 0);
    border: none;
    font-size: 15px;
    font-weight: normal;

}

#butikknap:hover {
    height: 35px;
    width: 105px;
    position: absolute;
    transform: translate(475%, 0);
}

#butikknap a {
    text-decoration: none;
    color: #000000;
    font-family: 'Oswald', sans-serif;

}

  .box {
    background-color: rgba(255, 255, 255, 0.50);
      height: 100%;
      padding: 8%;
      color: #000000;
      font-size: 20px;
      text-align: justify;
      font-weight: normal;
    }

    #ohdesign {
      font-weight: normal;
      font-size: 25px;
      font-family: 'Oswald', sans-serif;
    }

    #uhdesign {
      font-weight: normal;
      font-family: 'Quicksand', sans-serif;
      font-size: 20px;
    }

    