@import 'utilities';
@media only screen and (max-width: 550px) {}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


body {
    background-image: url("../img/forside3Artboard\ 1.png");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
   }

.navigation {
    padding-top: 15%;
    padding-bottom: 15%;
    padding-left: 15%;
    
}

#container {
    height: 10vh;
    width: 100%;
        text-align: justify;
    
    
}

#mellemrum {
    padding-bottom: 50px;
    background-color: #862988;
    height: 100vh;
}

nav ul {
    text-decoration:  none;
}

nav ul li {
    color:#E78C27;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
    font-size: 3vw;
    transition-duration: 0.5s; 
    text-decoration:  none;
    
    
}

nav ul li a {
    text-decoration: none;
}

#trapholt:hover {
    color:#0C4C8A;
    font-size: 3.5vw;
    text-shadow: 2px 2px #444444;

}

#udstillingen:hover {
    color:#5587A2;
    font-size: 3.5vw;
    text-shadow: 2px 2px #444444;

}

#aktiviteter:hover {
    color:#F6D258;
    font-size: 3.5vw;
    text-shadow: 2px 2px #444444;
 
}

#information:hover {
    color:#88B14B;
    font-size: 3.5vw;
    text-shadow: 2px 2px #444444;

}

#cafe:hover {
    color:#EF562D;
    font-size: 3.5vw;
    text-shadow: 2px 2px #444444;

}

#webshop:hover {
    color:#EFCEC5;
    font-size: 3.5vw;
    text-shadow: 2px 2px #444444;
    
}

